handleRevokeRequest does not validate client credentials

I'm a little on the fence about whether to consider this a bug based on my own interpretation, but I do believe this is out of compliance with the RFC.  The section of the RFC regarding toke revocation calls for 
The client also includes its authentication credentials as described
   in Section 2.3. of [RFC6749].

In my testing my revocation end point is accessible without specifying client credentials and yet I am able to revoke any token I specify.  At first blush I thought of this as a big problem, but then after contemplating further thought perhaps this was intentional since receiving a request like this to revoke a token, especially from an unauthorized party, must imply the token has been compromised and SHOULD be revoked.

Thoughts?  Is this a bug or an intentional decision?

Hmm, I don't believe this is covered in the spec at all. I don't see anything related to revocation in [section 2.3](https://tools.ietf.org/html/rfc6749#section-2.3).

The token is a [Bearer Token](https://tools.ietf.org/html/rfc6750#section-1.2), which by definition means

> any party in possession of the token (a "bearer") can use the token in any way that any other party in possession of it can". 

One thing a token can do is "revoke itself". Unless there is a direct reference to this in a spec that I am not aware of, I believe this is in full compliance.

Hey Brent, sorry for the long delay.  I just hadn't had a chance to circle back to this.  I was basing my assumption on this section of the RFC that is referenced in the revoke endpoint documentation:
https://tools.ietf.org/html/rfc7009#section-2

It mentions here:

>    The client also includes its authentication credentials as described
   in [Section 2.3. of RFC6749](https://tools.ietf.org/html/rfc6749#section-2.3). 

That section seems to particularly deal with the client credentials validation.  And then as it relates to the revocation details:

> The authorization server first validates the client credentials (in
   case of a confidential client) and then verifies whether the token
   was issued to the client making the revocation request.  If this
   validation fails, the request is refused and the client is informed
   of the error by the authorization server as described below.

What do you think?

@CameronGo is correct, according to the spec "The client also includes its authentication credentials as described in [Section 2.3. of RFC6749](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3)". This specifically means either using BASIC authentication to pass the client credentials, or `client_id`/`client_secret` parameters in the request body, just like in the /token endpoint.

Moreover, it should be checked that the token to be revoked actually belongs to the requesting client.

The rationale is available in [RFC 7009, section 5](https://datatracker.ietf.org/doc/html/rfc7009#section-5) ("Security considerations"):

>    A malicious client may attempt to guess valid tokens on this endpoint
   by making revocation requests against potential token strings.
   According to this specification, a client's request must contain a
   valid client_id, in the case of a public client, or valid client
   credentials, in the case of a confidential client.  The token being
   revoked must also belong to the requesting client.  If an attacker is
   able to successfully guess a public client's client_id and one of
   their tokens, or a private client's credentials and one of their
   tokens, they could do much worse damage by using the token elsewhere
   than by revoking it.  If they chose to revoke the token, the
   legitimate client will lose its authorization grant and will need to
   prompt the user again.  No further damage is done and the guessed
   token is now worthless.


