Unauthorized Token Revoke

According to [RFC 7009](https://tools.ietf.org/html/rfc7009#section-2) The `revoke` request must be authenticated as well as verified that the token to be revoked belongs to the client issuing the request.

  >  The authorization server first validates the client credentials (in
   case of a confidential client) and then verifies whether the token
   was issued to the client making the revocation request.  If this
   validation fails, the request is refused and the client is informed
   of the error by the authorization server as described below.

If I'm understanding this correctly the `OAuth2\Server::handleRevokeRequest` should be verifying whether the incoming request is valid. Currently it does not. Meaning anyone can make arbitrary revoke requests. 

Is this expected behavior?
Is it up to the implementer/developer to ensure that the requests are verified before calling `handleRevokeRequest`?

Sorry, I didn't see this one before I opened #734 and #726

FYI, I'm more than happy to work on the code change required for this issue, I just need to know if the could _should_ be changed.

Hey guys!
Yes, it's hard to argue with that RFC, even though IMHO it seems unnecessary to require client credentials. But a PR would be much appreciated!

- Brent

> it seems unnecessary to require client credentials.

As per the RFC mentionned above, in the section 2.1 "Revocation Request" it is clearly indicated *The client also includes its authentication credentials as described in Section 2.3. of [RFC6749].*

It would make sense that the client should need to be authenticated in order to revoke a token. This would prevent malicious people potentially revoking tokens constantly, inhibiting client access.

@lucasantarella If someone has your access token, you are completely compromised, and revoking it is about the nicest thing someone who obtains your token can do.

Now if an attacker obtained a refresh token, they wouldn't be able to get an access token w/o client credentials, and revoking it would provide a minor (if harmless) annoyance. 