Incorrect response code for refresh_token grant type

I believe this should be a 401 for unauthorised?

There might be a few other locations like this.

https://github.com/bshaffer/oauth2-server-php/blob/develop/src/OAuth2/GrantType/RefreshToken.php#L81


The [RFC6749 section 5.2](Section 5.2.) in reference in the [section 6](https://tools.ietf.org/html/rfc6749#section-5.2) clearly indicates that in case of a wrong parameter or invalid grqnt (here the `refresh_token` parameter, the `authorization server responds with an HTTP 400 (Bad Request) status code`.

So I may be wrong, but this issue and the #846 are irrelevant.