CONTENT_TYPE issue

I'm not sure, but i think it should be HTTP_CONTENT_TYPE insted of just CONTENT_TYPE

in oauth2-server-php/src/OAuth2/Request.php

public static function createFromGlobals()
line 197 ->
$contentType = $request->server('CONTENT_TYPE', '');




The issue is with the built in php server it passes the content type variable as HTTP_CONTENT_TYPE;

The issue can be solved by adding something like this
        $contentType = $request->server('CONTENT_TYPE', '');
        if ( empty($contentType) ) $contentType = $request->server('HTTP_CONTENT_TYPE', '');

Under normal circumstances this should be `CONTENT_TYPE` as specified by RFC 3875 section 4.1.3:

> If the request includes a message-body, the CONTENT_TYPE
> variable is set to the Internet Media Type [6] of the
> message-body.
> [...]
> The server MUST set this meta-variable if an
> HTTP Content-Type field is present in the client request header.

It seems like there was a bug in the built-in webserver PHP ships with in 5.5.8 where it was not being set correctly, but this has been patched now (see [bug report](https://bugs.php.net/bug.php?id=66606))

So in unless your webserver or php version is misbehaving, the field should be `CONTENT_TYPE`, not `HTTP_CONTENT_TYPE`.

On a side note, I've glanced over that referenced issue you linked to, in the stacktrace it has `'CONTENT_TYPE' => 'application/json'` which is expected, so I'm not sure this is causing that issue. One thing to note here is the OAuth 2.0 [RFC6749](https://tools.ietf.org/html/rfc6749#section-4.3.2) section 4.3.2 specifies that the `CONTENT_TYPE` must be `application/x-www-form-urlencoded` not `application/json`. This library enforces that requirement, so if you are sending POST requests to endpoints managed by this library it could be the reason it is throwing errors about missing data (since the POST body isn't in the correct format). 


if it has been patched , then no need for
if ( empty($contentType) ) $contentType = $request->server('HTTP_CONTENT_TYPE', '');

thnx! :)