handleRevokeRequest does not validate client credentials

Decided to open a new issue for this one since it is related to compliance with the spec:

The section of the RFC regarding toke revocation calls for 
The client also includes its authentication credentials as described
in Section 2.3. of [RFC6749].

In my testing my revocation end point is accessible without specifying client credentials and yet I am able to revoke any token I specify. At first blush I thought of this as a big problem, but then after contemplating further thought perhaps this was intentional since receiving a request like this to revoke a token, especially from an unauthorized party, must imply the token has been compromised and SHOULD be revoked.

I am basing my interpretation on this section of the RFC that is referenced in the revoke endpoint documentation:
https://tools.ietf.org/html/rfc7009#section-2


It mentions here:

>    The client also includes its authentication credentials as described
   in [Section 2.3. of RFC6749](https://tools.ietf.org/html/rfc6749#section-2.3). 

That section seems to particularly deal with the client credentials validation.  And then as it relates to the revocation details:

> The authorization server first validates the client credentials (in
   case of a confidential client) and then verifies whether the token
   was issued to the client making the revocation request.  If this
   validation fails, the request is refused and the client is informed
   of the error by the authorization server as described below.

What do you think?